body{

    margin: 0px;
    padding: 0;
    width: 100%;
    background-color: darkslategray;
}

header {

    position: relative;
    height: 15vh;
    background-color: darkslategray;
    color:azure;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    letter-spacing: 8px;
    font-family: Arial, Helvetica, sans-serif;

    button{
        position: absolute;
        right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 2px solid darkslategray;
        width: 45px;
        height: 45px;
        border-radius: 100%;
        color: azure;
        font-size: 2rem;
        background-color: rgb(47, 79, 79);
        transition: all;
        transition-duration: 0.3s;

        &:hover{

            background-color: azure;
            color: darkslategray;


        }
    }
}

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    background-color: darkslategray;
    margin-bottom: 30px;

    & input {
        height: 30px;
        width: 20%;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 15px;
        border: none;
        font-size: 1rem;
        color: darkslategray;
        background-color: azure;
    }

    & button {

        height: fit-content;
        width: fit-content;
        border-radius: 15px;
        border: none;
        background-color: azure;
        color: darkslategray;
        font-size: 1rem;
        padding: 10px;
        transition: background-color;
        transition-duration: 0.3s;

        &:hover {
            scale: 1.1;
            background-color: rgb(195, 202, 202);

        }
    }
}

.savedMovies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    min-height: 10vh;
    height: fit-content;
    width: 100vw;
    outline: 1px solid black;

    background: rgb(0,0,0);
    background: -moz-radial-gradient(circle, rgba(0,0,0,1) 9%, rgba(31,52,52,1) 72%);
    background: -webkit-radial-gradient(circle, rgba(0,0,0,1) 9%, rgba(31,52,52,1) 72%);
    background: radial-gradient(circle, rgba(0,0,0,1) 9%, rgba(31,52,52,1) 72%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#1f3434",GradientType=1);
    padding: 20px;
}

.resultsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 40px;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    background-image: linear-gradient(0deg, #0c0e0eef 0%, #f3f3f300 100%);
}

.filmcontainer{
    
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    width: 200px;
    height: 310px;
    padding: 15px;
    overflow: hidden;
    border-radius: 15px;
    background-image: linear-gradient(0deg, #0c0e0ee7 0%, #f3f3f31e 100%);
    transition: all;
    transition-duration: 0.3s;

    &:hover {
        scale: 1.1;
        background-image: linear-gradient(0deg, #0c0e0ee7 0%, #f3f3f39c 100%);
    }

    & img {
        height: 250px;
        border-radius: 15px;
    }

    & h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
        font-weight: lighter;
        color: rgba(240, 255, 255, 0.801);
        width: 100%;
        overflow: hidden;
        margin: 0%;
    }
}

.detailsContainer {

    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    background-image: linear-gradient(0deg, #0c0e0eef 0%, #f3f3f300 100%);

    & .detailsPoster {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        border-radius: 15px;
        overflow: hidden;
        transition: all;
        transition-duration: 0.3s;
    }

    & .detailsText {

        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 40%;
        max-height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 15px;

        .line{
            width: 80%;
            height: 2px;
            background-color: rgba(240, 255, 255, 0.712);
            margin-top: 5px;
            margin-bottom: 5px;
        }

        & h2 {
            
            font-size: 2rem;
            letter-spacing: 5px;
            font-weight: bold;
            text-align: center;
            margin: 15px;
            
        }
    
        & h3 {

            font-size: 1.2rem;
            letter-spacing: 2px;
            font-weight: lighter;
            text-align: center;
            margin: 30px;
        }

        & h4 {

            font-size: 1rem;
            font-weight: lighter;
            text-align: center;
            margin: 5px;
           
        }

        button{
            margin: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border: 2px solid darkslategray;
            width: 45px;
            height: 45px;
            border-radius: 100%;
            color: azure;
            font-size: 2rem;
            background-color: darkslategray;
            transition: all;
            transition-duration: 0.3s;
    
            &:hover{
    
                background-color: azure;
                color: darkslategray;
    
    
            }
        }
    }

}