<header>
    <h1>Welcome! Search for your movie</h1>
</header>

<main>
<div class="searchContainer">
    <input #searchInput type="text" placeholder="type movie title">
    <button (click)="movieSearch(searchInput.value)">Search</button>
</div>

<div class="resultsContainer">

    <div *ngFor="let movie of matchedMovies" [class]="filmcontainer" (click)="renderMovieDetails(movie.title)">
        <p>{{movie.title}}</p>
    
        <img src="{{movie.poster}}" alt="movie poster of {{movie.title}}">
    
        <p>{{movie.year}}</p>
    </div>


</div>



</main>
