body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.resultsContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    max-height: 40%;
    width: 100%;
    gap: 30px;
    padding: 30px;
}

.filmcontainer{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    //height: 90%;
    background-color: black;
    color: lightcoral;

    & img {
        border: 1px solid lightcoral;
        height: 200px;
    }
}